.cat-additionaly {
  padding-top: 10px;

  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
}

.cat-additionaly__title {
  padding: 0;

  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  text-transform: none;
}

.cat-additionaly__label {
  margin-top: 14px;

  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 32px;
  }
}
