.cat-comment {
  padding-top: 10px;
  padding-bottom: 20px;
}

.cat-comment__title {
  margin-bottom: 18px;
  padding: 0;

  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
}

.cat-comment__textarea {
  padding: 10px;

  min-width: 100%;
  height: 150px;

  resize: none;

  &::placeholder {
    color: #444444;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
