.cat-additionaly {
  position: relative;
  padding: 0 20px;
  padding-top: 10px;

  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
}

.cat-additionaly__title {
  position: relative;
  padding: 0;

  width: 100%;

  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: -20px;

    width: calc(100% - 144px);
    height: 3px;
    background-color: #68b738;
  }
}

.cat-additionaly__label {
  position: relative;
  margin-top: 14px;
  padding-left: 44px;

  height: 30px;

  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 32px;
  }

  &:active {
    opacity: 0.3;
  }
}

.cat-additionaly__checkbox:hover + .radio-checkbox {
  border-color: #bababa;
}

.cat-additionaly__checkbox:focus + .radio-checkbox {
  border: 2px solid #68b738;
}

.cat-additionaly__checkbox:checked + .radio-checkbox {
  &::before {
    content: "";

    width: 21px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.cat-additionaly__checkbox:checked:disabled + .radio-checkbox {
  opacity: 0.5;
  border-color: #cdcdcd;
}

.cat-additionaly__checkbox:disabled + .radio-checkbox {
  opacity: 0.5;
  border-color: #cdcdcd;
}

@media (min-width: @tablet-width) {
  .cat-additionaly {
    margin-top: 50px;
    padding: 10px 70px 38px;

    font-size: 20px;
    line-height: 20px;
  }

  .cat-additionaly__title {
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 23px;
      right: -70px;

      width: calc(100% - 182px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      left: -70px;

      width: 5%;
      height: 3px;
      background-color: #68b738;
    }
  }

  .cat-additionaly__wrapper {
    margin-top: 30px;
    padding: 0;
    padding-right: 64px;

    min-height: 144px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cat-additionaly__label {
    margin-top: 18px;
    padding-left: 60px;

    min-width: 220px;
    min-height: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .cat-additionaly {
    padding: 10px 7.6% 6px;
  }

  .cat-additionaly__title {
    &::before {
      right: -110px;

      width: calc(100% - 142px);
    }

    &::after {
      left: -110px;
      width: 6%;
    }
  }

  .cat-additionaly__wrapper {
    margin-top: 34px;
    margin-bottom: 56px;
    padding: 0;

    max-width: 98%;
    min-height: 0;

    align-items: center;
    justify-content: space-between;
  }

  .cat-additionaly__label {
    margin: 0;
    margin-top: 14px;
    margin-right: 60px;
    min-width: 220px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
