.copy {
  padding: 18px 20px 22px;

  max-height: 77px;
  line-height: 16px;
}

.copy__link {
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copy__logo-image {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copy__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.copy__logo-image {
  margin-right: -6px;
  max-height: 40px;
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .copy {
    padding: 0;
  }

  .copy__text {
    margin-bottom: 20px;
    margin-right: 16px;
  }
}

@media (min-width: @desktop-width) {
  .copy {
    margin-bottom: -6px;
  }

  .copy__text {
    margin-right: 16px;
  }
}
