.footer {
  background-color: #f2f2f2;
}

.footer__logo-wrapper {
  padding: 30px 20px;

  max-height: 96px;

  display: flex;
  justify-content: center;
}

.footer__logo {
  min-height: 95px;

  color: #111111;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .footer__logo-wrapper {
    padding: 0;
  }

  .footer__logo {
    min-height: 40px;
  }

  .footer__wrapper {
    padding: 58px 30px;

    max-height: 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    padding: 60px 110px 56px;
  }
}
