.main-nav {
  min-width: 320px;
  min-height: 200px;

  display: flex;
  flex-direction: column;

  transition: 0.1s;
  transform-origin: top center;
}

.main-nav--active {
  transform: scaleY(0);
  min-height: 0;
  height: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin-left: 96px;
    min-width: 440px;
    min-height: 58px;

    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    margin-left: 37.5%;
    margin-top: 4px;
    min-width: 478px;
  }
}
