.main-form {
  padding: 30px 20px 34px 20px;
}

.main-form__heading {
  margin: 0;

  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.main-form__description {
  margin-top: 40px;
  margin-bottom: 18px;
  padding-right: 54px;

  color: #111111;
  line-height: 18px;
  text-transform: uppercase;
}
