.map {
  width: 100%;

  display: flex;
  justify-content: center;
}

.map__img {
  max-height: 360px;
}

.map__img-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 132px;
    top: 138px;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-position: 50% 50%;
    background-size: cover;

    display: block;

    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .map__img {
    width: 100%;
    min-height: 400px;
  }

  .map__img-wrapper::before {
    right: 330px;
    top: 148px;

    width: 108px;
    height: 106px;

    background-image: url("../img/map-pin.png");
  }
}

@media (min-width: @desktop-width) {
  .map__img-wrapper::before {
    right: 326px;
  }
}
