.map {
  width: 100%;

  display: flex;
  justify-content: center;
}

.map__img {
  position: relative;

  max-height: 364px;

  &::before {
    content: "";
    position: absolute;
    right: 134px;
    top: 153px;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-position: 50% 50%;
    background-size: cover;

    display: block;

    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .map__img {
    max-height: 400px;

    &::before {
      right: 330px;
      top: 148px;

      width: 108px;
      height: 106px;

      background-image: url("../img/map-pin.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .map__img::before {
    right: 326px;
  }
}
