.social {
  position: relative;
  margin: 0;
  padding: 36px 20px 26px;

  max-height: 64px;

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;

    width: calc(100% - 40px);
    height: 1px;

    background-color: #cacaca;
  }

  &::after {
    top: 100%;
  }
}

.social__item {
  margin-left: 37px;

  &:first-child {
    margin: 0;
  }
}

.social__link {
  width: 22px;
  height: 19px;

  display: block;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--insta {
  width: 16px;
  height: 16px;
}

@media (min-width: @tablet-width) {
  .social {
    margin-left: 24px;
    padding: 0;

    flex-grow: 1;

    &::before,
    &::after {
      display: none;
    }
  }

  .social__link {
    width: 30px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social__link--insta {
    width: 23px;
    height: 23px;
  }

  .social__item {
    margin: 0;

    &:nth-child(2) {
      margin-left: 28px;
      margin-right: 22px;
    }
  }
}
