.text-field {
  margin-left: 15px;
  padding-left: 16px;
  padding-top: 5px;

  height: 45px;
  border: 1px solid #cdcdcd;

  flex-grow: 1;
  display: flex;
  align-items: center;

  &:first-child {
    padding-top: 8px;
    padding-left: 12px;
  }

  &::placeholder {
    color: #444444;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .text-field {
    height: 52px;

    &:first-child {
      margin-left: 18px;
      padding-left: 17px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
