.text-field {
  margin-left: 15px;
  padding: 12px 14px;

  height: 45px;
  border: 1px solid fadeout(#cdcdcd, 50%);

  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  flex-grow: 1;

  outline: none;
  appearance: textfield;

  &::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }
}

.text-field:focus + .cat-owner__icon {
  fill: #68b738;
}

.text-field--invalid {
  border: 2px solid #ff8282;
}

.text-field--invalid + .cat-owner__icon {
  fill: #ff8282;
}

@media (min-width: @tablet-width) {
  .text-field {
    height: 52px;

    &:first-child {
      margin-left: 18px;
      padding-left: 17px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
